<!DOCTYPE html>
<html>
<head>
	<title>AwesomeBot Activity</title>
	<% include ../partials/head %>

	<link rel="stylesheet" href="/css/auto-complete.css">
	<script src="/js/auto-complete.min.js"></script>
	<script>
	var searchInputAutocomplete;
	function switchSearch(type) {
		document.getElementById("frame").style.backgroundImage = "";document.getElementById("frame").style.paddingBottom = "";
		var query = "";
		if(type.indexOf("-")>-1) {
			query = type.substring(type.indexOf("-")+1);
			type = type.substring(0, type.indexOf("-"));
		}
		if(searchInputAutocomplete) {
			searchInputAutocomplete.destroy();
		}
		if(type=="users") {
			document.getElementById("search-button").href = "javascript:window.location.hash = 'users-' + encodeURI(document.getElementById('search-input').value.replaceAll('#', '----'));loadFrameContent('/users?q=' + document.getElementById('search-input').value.replaceAll('#', '----'));";
			document.getElementById("search-input").onkeydown = function() {
				if(event.keyCode==13) {
					window.location.hash = "users-" + encodeURI(this.value.replaceAll("#", "----"));
					loadFrameContent('/users?q=' + encodeURI(this.value.replaceAll("#", "----")));
				}
			};
			if(query) {
				document.getElementById("search-input").value = decodeURI(query.replaceAll("----", "#"));
				window.location.hash = "users-" + encodeURI(query.replaceAll("#", "----"));
				loadFrameContent('/users?q=' + encodeURI(query.replaceAll("#", "----")));
			} else {
				window.location.hash = "users";
				loadFrameContent("/users?q=");
			}
			$.getJSON("/userlist", function(data) {
				searchInputAutocomplete = new autoComplete({
				    selector: "#search-input",
				    minChars: 2,
				    source: function(q, res) {
				    	q = q.toLowerCase();
				       	res(data.filter(function(a) {
				       		return a.toLowerCase().indexOf(q)>-1;
				       	}));
				    }
				});
			});
		} else {
			document.getElementById("search-button").href = "javascript:searchServers(document.getElementById('search-input').value);";
			document.getElementById("search-input").setAttribute("list", "servers");
			document.getElementById("search-input").onkeydown = function() {
				if(event.keyCode==13) {
					searchServers(this.value);
				}
			};
			window.location.hash = "servers";
			$.getJSON("/serverlist", function(data) {
				searchInputAutocomplete = new autoComplete({
				    selector: "#search-input",
				    minChars: 2,
				    source: function(q, res) {
				    	q = q.toLowerCase();
				       	res(data.filter(function(a) {
				       		return a.toLowerCase().indexOf(q)>-1;
				       	}));
				    }
				});
			});
			loadFrameContent("/servers?q=&count=16&page=1&sort=messages-des&category=All&publiconly=false", function() {
				if(query) {
					document.getElementById("search-input").value = decodeURI(query);
					searchServers(query);
				}
			});
		}
		document.getElementById("search-select").value = type || "servers";
	}

	String.prototype.replaceAll = function(target, replacement) {
		return this.split(target).join(replacement);
	};
	</script>
</head>
<body onload="loadBackground();switchSearch(window.location.hash.slice(1));">
	<section id="header" class="hero is-primary is-small is-bold" style="background: url('/img/header-bg.jpg'); background-size: cover;" ondblclick="loadBackground();">
		<div class="hero-head">
			<% include ../partials/header %>
		</div>
		<br><br>
		<div class="hero-body">
			<div class="container has-text-centered">
				<h3 class="subtitle is-3">
					How are you, AwesomeBot?
					<span class="icon is-medium">
						<i class="fa fa-thumbs-up"></i>
					</span>
				</h3>
				<h1 class="title is-1">
					<strong><%= totalMessageCount %></strong> messages today, <strong><%= numActiveServers %></strong> active servers
				</h1>
			</div>
			<br><br>
			<div class="columns">
				<div class="column is-half is-offset-one-quarter">
					<p class="control has-addons has-addons-centered">
						<span class="select is-large">
							<select id="search-select" onchange="switchSearch(this.value);">
								<option value="servers">Servers</option>
								<option value="users">Users</option>
							</select>
						</span>
						<input id="search-input" class="input is-expanded is-large" type="text" placeholder="I'm looking for...">
						<a id="search-button" class="button is-primary is-large" href="javascript:searchServers(document.getElementById('search-input').value);">
							<span class="icon">
								<i class="fa fa-search"></i>
							</span>
							<span>Search</span>
						</a>
					</p>
				</div>
			</div>
		</div>
		<br><br>
		<div class="hero-foot">
			<div class="container">
				<div class="tabs is-centered">
					<ul>
						<li>Last updated <%= updatedPrettyDate %></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/info-level-section %>

	<section id="frame" class="is-light"></section>

	<section class="hero is-medium is-black">
		<div class="hero-body">
			<div class="container">
				<div class="has-text-centered">
					<h2 class="title is-2">
						Want to <strong>configure AwesomeBot</strong> on a server?
					</h2>
					<p class="hero-buttons">
						<% if(authUser) { %>
							<a class="button is-primary is-large" href="/dashboard">
								<span class="icon">
									<i class="fa fa-sign-in"></i>
								</span>
								<span>Go to my dashboard</span>
							</a>
						<% } else { %>
							<a class="button is-primary is-outlined is-large" href="/login">
								<span class="icon">
									<i class="fa fa-sign-in"></i>
								</span>
								<span>Login to the admin console</span>
							</a>
						<% } %>
					</p>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
</body>