<!DOCTYPE html>
<html>
<head>
	<title>AwesomeBot: the best Discord bot!</title>
	<% include ../partials/head %>
</head>
<body onload="loadBackground();">
	<section id="header" class="hero is-primary is-large is-bold" style="background: url('/img/header-bg.jpg'); background-size: cover;" ondblclick="loadBackground();">
		<div class="hero-head">
			<% include ../partials/header %>
		</div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<img src="/img/icon.png" style="border-radius: 100%;width:200px;">
				<h1 class="title is-1" style="font-family: Montserrat;font-size:96px;">
					AwesomeBot
				</h1>
				<h2 class="title is-2">
					The best <img src="/img/discord-logo.png" style="height: 42px;vertical-align: top;"> bot!
				</h2>
				<br>

				<p class="hero-buttons">
					<a class="button is-primary is-large" href="http://add.awesomebot.xyz">
						<span class="icon">
							<i class="fa fa-plus"></i>
						</span>
						<span>Add to Server</span>
					</a>
				</p>
				<br>
			</div>
		</div>
		<div class="hero-foot">
			<nav class="nav">
				<div class="container">
					<div class="nav-center">
						<a class="nav-item is-tab " href="#about">
							About
						</a>
						<a class="nav-item is-tab " href="#media">
							Media
						</a>
						<a class="nav-item is-tab " href="#features">
							Features
						</a>
						<a class="nav-item is-tab " href="#stats">
							Stats
						</a>
						<a class="nav-item is-tab " href="#customizability">
							Customizability
						</a>
						<a class="nav-item is-tab " href="#servers">
							Servers
						</a>
						<a class="nav-item is-tab " href="#team">
							Team
						</a>
						<a class="nav-item is-tab " href="#links">
							More
						</a>
					</div>
				</div>
			</nav>
		</div>
	</section>

	<section id="about" class="hero is-medium">
		<div class="hero-body">
			<div class="container">
				<nav class="columns">
					<div class="column has-text-centered">
						<span class="icon is-large" style="margin-right: -15px;">
							<i class="fa fa-star"></i>
						</span>
						<p class="title is-4"><strong>Awesome</strong> features</p>
					</div>
					<div class="column has-text-centered">
						<span class="icon is-large">
							<i class="fa fa-cog"></i>
						</span>
						<p class="title is-4">Easy to <strong>configure</strong></p>
					</div>
					<div class="column has-text-centered">
						<span class="icon is-large">
							<i class="fa fa-heart"></i>
						</span>
						<p class="title is-4"><strong>Free</strong> and open-source</p>
					</div>
				</nav>
			</div>
		</div>
	</section>

	<section id="media" class="hero is-large is-light is-bold">
		<div class="hero-body">
			<div class="container">
				<nav class="columns">
					<div class="column has-text-centered">
						<img src="/img/media.png">
					</div>
					<div class="column has-text-centered">
						<h2 class="title is-2">
						GIFs, YouTube, Reddit, and more.
						</h2>
						<p>
							Media commands are what makes AwesomeBot so much fun. Find memes on <strong>Giphy</strong> or create your own. Search for great <strong>videos</strong> on YouTube. Share the latest on a subreddit with your friends. Get the latest from any <strong>RSS feeds</strong>. View all the <strong>XKCD</strong> comics. Discover <strong>Anime</strong> and <strong>Manga</strong> with two powerful, intuitive commands. Get <strong>IMDB</strong> information on TV shows and movies. Quickly fetch links to listings on <strong>Google Play</strong> and the <strong>App Store</strong>. AwesomeBot makes sharing content from around the web in chat easier than ever.
						</p>
					</div>
				</nav>
			</div>
		</div>
	</section>

	<section id="features" class="hero is-large is-dark is-bold">
		<div class="hero-body">
			<div class="container">
				<nav class="columns">
					<div class="column has-text-centered">
						<h2 class="title is-2">
							Increase <strong>activity</strong> on <strong>your</strong> server!
						</h2>
						<p>
							AwesomeBot comes with a robust stats system right out-of-the-box. Members are rewarded for engaging in conversation on Discord with global AwesomePoints and are given ranks that can be assigned to Discord roles. Awesomebot even keeps track of the most popular games that people on your server play and allows you to create channels with players of a game.
						</p>
						<br><br>
						<h2 class="title is-2">
							Tons of <strong>in-chat tools</strong>.
						</h2>
						<p>
							Easy-to-use polls and giveaways reduce the need to leave Discord. Want to play a trivia game? That's included in AwesomeBot. Counting down to a game release? Start a countdown with AwesomeBot. Need a simple to-do list for a task-oriented server? AwesomeBot has one built-in. There are so many simple conveniences in AwesomeBot that make it feel like you can do <i>anything</i> without ever leaving Discord.
						</p>
						<br>
						<p>
							There are plenty of simple utility and moderation commands included as well. Set reminders in both public and private chat. Check the weather and time in your area. Convert units, check how much time is left until next year, look up words, read full Wikipedia articles. There's too much to fully list here. Mods can kick, ban, and mute members as well as archive or clean up the chat. We've also included a unique strikes system that allows mods and admins to keep track of members who misbehave without having to use another tool. It's integrated with AwesomePoints and makes it easy to tell when it's time for someone to get the ban hammer.
					</div>
					<div class="column has-text-centered">
						<img src="/img/demo-activity.gif" style="border-radius: 3px;">
					</div>
				</nav>
			</div>
		</div>
	</section>

	<% include ../partials/info-level-section %>

	<section id="customizability" class="hero is-medium is-light">
		<div class="hero-body">
			<div class="container">
				<div class="has-text-centered">
					<span class="icon is-large">
						<i class="fa fa-cog"></i>
					</span>
					<span class="icon is-large">
						<i class="fa fa-globe"></i>
					</span>
					<span class="icon is-large">
						<i class="fa fa-bolt"></i>
					</span>
					<span class="icon is-large">
						<i class="fa fa-dashboard"></i>
					</span>
					<span class="icon is-large">
						<i class="fa fa-code"></i>
					</span>
					<span class="icon is-large">
						<i class="fa fa-share-alt"></i>
					</span>
					<span class="icon is-large">
						<i class="fa fa-beer"></i>
					</span>
					<span class="icon is-large">
						<i class="fa fa-terminal"></i>
					</span>
					<span class="icon is-large">
						<i class="fa fa-fa"></i>
					</span>
				</div>
				<br><br>
				<nav class="columns">
					<div class="column has-text-centered">
						<h2 class="title is-2">
							<strong>Configure</strong> everything in the comprehensive <strong>admin console</strong>.
						</h2>
					</div>
					<div class="column has-text-centered">
						<h2 class="title is-2">
							Build <strong>powerful extensions</strong> with JavaScript and share them.
						</h2>
					</div>
				</nav>
				<br><br>
				<div class="has-text-centered">
					<img src="/img/admin-console.png">
				</div>
			</div>
		</div>
	</section>

	<section id="servers" class="hero is-small is-primary">
		<div class="hero-body">
			<div class="container has-text-centered">
				<h2 class="title is-2">
					There's a reason over <strong><%= roundedServerCount %></strong> servers trust AwesomeBot.
				</h2>
				<h3 class="subtitle is-4">
					It's fun, easy-to-use, and feature-packed.
					<a href="/activity#servers">
						Browse servers &raquo;
					</a>
				</h3>
			</div>
		</div>
	</section>

	<section id="team" class="hero is-fullheight">
		<div class="hero-body">
			<div class="container">
				<div class="has-text-centered">
					<h2 class="title is-2">
						Our <strong>Team</strong>
					</h2>
					<h4 class="subtitle is-4">
						These guys are in charge around here.
					</h4>
				</div>
				<br><br><br>
				<div class="columns">
					<div class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-square">
									<img src="/img/bitquote.png" alt="">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-content">
										<p class="title is-3">BitQuote</p>
										<p class="subtitle is-5">Creator + everything else</p>
									</div>
								</div>

								<div class="content">
									Just another robot <span class="icon">
										<i class="fa fa-smile-o"></i>
									</span>
									<br>
									<a href="https://github.com/BitQuote">GitHub</a>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-square">
									<img src="/img/mistmurk.png" alt="">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-content">
										<p class="title is-3">mistmurk</p>
										<p class="subtitle is-5">Developer, Wiki Editor, Support</p>
									</div>
								</div>

								<div class="content">
									Stardust insomniac <span class="icon">
										<i class="fa fa-heart-o"></i>
									</span>
									<br>
									<a href="https://github.com/mistmurk">GitHub</a>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-square">
									<img src="/img/tinytaco.jpg" alt="">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-content">
										<p class="title is-3">tinytaco</p>
										<p class="subtitle is-5">Wiki Editor, Support</p>
									</div>
								</div>

								<div class="content">
									I really like tacos. <span class="icon">
										<i class="fa fa-heart"></i>
									</span>
									<br>
									<a href="https://github.com/tinytaco8">GitHub</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="columns">
					<div class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-square">
									<img src="/img/ksham.jpg" alt="">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-content">
										<p class="title is-3">ksham</p>
										<p class="subtitle is-5">Developer, Wiki Editor, Support</p>
									</div>
								</div>

								<div class="content">
									I haven't decided yet. <span class="icon">
										<i class="fa fa-exclamation-circle"></i>
									</span>
									<br>
									<a href="https://github.com/Kays">GitHub</a>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-square">
									<img src="/img/rydgeback.jpg" alt="">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-content">
										<p class="title is-3">rydgeback</p>
										<p class="subtitle is-5">Wiki Editor, Support</p>
									</div>
								</div>

								<div class="content">
									Wiki lad for life <span class="icon">
										<i class="fa fa-rocket"></i>
									</span>
									<br>
									<a href="https://github.com/rydgeback">GitHub</a>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-square">
									<img src="/img/hucota7.jpg" alt="">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-content">
										<p class="title is-3">Hucota7</p>
										<p class="subtitle is-5">Wiki Editor, Support</p>
									</div>
								</div>

								<div class="content">
									A programming cat or something <span class="icon">
										<i class="fa fa-paw"></i>
									</span>
									<br>
									<a href="https://github.com/hucota7">GitHub</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="links" class="hero is-medium is-black is-bold">
		<div class="hero-body">
			<div class="container">
				<div class="has-text-centered">
					<h2 class="title is-2">
						Convinced? Get started with AwesomeBot today!
					</h2>
					<p class="hero-buttons">
						<a class="button is-primary is-large" href="http://add.awesomebot.xyz">
							<span class="icon">
								<i class="fa fa-plus"></i>
							</span>
							<span>Add to Server</span>
						</a>
					</p>
				</div>
				<br><br>
				<div class="has-text-centered">
					<h2 class="title is-2">
						Need support? Have a suggestion?
					</h2>
					<p class="hero-buttons">
						<a class="button is-dark is-large" href="http://discord.awesomebot.xyz">
							<span class="icon">
								<i class="fa fa-discord"></i>
							</span>
							<span>Discord</span>
						</a>
						<a class="button is-light is-large" href="http://github.awesomebot.xyz">
							<span class="icon">
								<i class="fa fa-github"></i>
							</span>
							<span>GitHub</span>
						</a>
						<a class="button is-info is-large" href="http://twitter.awesomebot.xyz">
							<span class="icon">
								<i class="fa fa-twitter"></i>
							</span>
							<span>Twitter</span>
						</a>
					</p>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
</body>
</html>