<footer>
    <div class="container">
        <br><br>
        <div class="content has-text-centered">
            <p>
                <strong>AwesomeBot</strong> by BitQuote and mistmurk. Made with <a href="https://nodejs.org/en/">Node.js</a> and <a href="https://github.com/hydrabolt/discord.js/">discord.js</a>. Site made with <a href="http://bulma.io/">Bulma</a> and <a href="https://jquery.com/">jQuery</a>. Artwork by NanoDrive and <a href="http://fontawesome.io/">Font Awesome</a>. Source code under the <a href="http://opensource.org/licenses/mit-license.php">MIT license</a>.
            </p>
            <p>
                <a class="icon" href="http://discord.awesomebot.xyz">
                    <i class="fa fa-discord"></i>
                </a>
                <a class="icon" href="http://github.awesomebot.xyz">
                    <i class="fa fa-github"></i>
                </a>
                <a class="icon" href="http://twitter.awesomebot.xyz">
                    <i class="fa fa-twitter"></i>
                </a>
            </p>
        </div>
        <br>
    </div>
</footer>