<div class="control is-grouped">
<button id="form-submit" type="submit" class="button is-primary" value="Submit" onclick="saveFormState();">
	<span class="icon">
        <i class="fa fa-check"></i>
    </span>
    <span>Save</span>
</button>
&nbsp;&nbsp;
<button id="form-reset" type="reset" class="button is-danger is-outlined" value="Reset">
    <span>Reset</span>
	<span class="icon">
        <i class="fa fa-times"></i>
    </span>
</button>
</div>