<section id="stats" class="hero is-small">
	<div class="hero-body">
		<div class="container">
			<nav class="level">
				<div class="level-item has-text-centered">
					<p class="heading">Servers</p>
					<p class="title is-2"><%= rawServerCount %></p>
				</div>
				<div class="level-item has-text-centered">
					<p class="heading">Users</p>
					<p class="title is-2"><%= rawUserCount %></p>
				</div>
				<div class="level-item has-text-centered" title="<%= rawUptime %>">
					<p class="heading">Uptime</p>
					<p class="title is-2"><%= roundedUptime %>h</p>
				</div>
			</nav>
		</div>
	</div>
</section>